#main {
  background: dimgrey;
  color: linen;
  font-family: "Arial", Arial, sans-serif;
  font-size: 14px;
  visibility: hidden;
  overflow: hidden;
}

input {
  background: lightgrey;
  height: 100%;
  width: 100%;
  font-size: 14px;
  padding: 10 10 10 10;
  border: 1px solid #ddd;
}

button {
  background: lightgrey;
  font-size: 12px;
  cursor: pointer;
  flex: 0 0 30px;
}


table, th, td {
  color: inherit;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  min-width: 100px;
  max-width: 100px;
  padding: 5px 5px 5px 5px;
}

tr {
  height: 45px;
}

th {
  font-size: 16px;
  min-height: 100%;
}

td {
  font-size: 12px;
  min-height: 100%;
  overflow-wrap: anywhere;
}

p {
  margin: 0 0 5 0;
}

footer {
  width: 100%
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.foot {
  flex: 0 0 auto;
  width: 100%;
  margin-top: 5px;
}

.fitWidth {
  width: 100%;
  margin: 5px 0px 5px 0px;
  flex: 1 1 25px;
  display: flex;
  justify-content: flex-start;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.buttons {
  flex: 1 1 20px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
}

.filters {
  display: flex;
  justify-content: flex-start;
}

.thinCell{
  min-width: 80px;
  max-width: 80px;
}

.legend {
  height: 100%;
  line-height: 230%;
  border: 1px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  flex: 0 0 100px;
}

.options {
  height: 100%;
  flex: 0 0 100px;
}

.filter {
  border: none;
  font-size: inherit;
  color: inherit;
  height: 100%;
  width: 100%;
  text-align: center;
  text-align-last: center;
  font-weight: bold;
  cursor: pointer;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  padding-right: 10px;
  background: url("/CSS/whiteArrow.png") no-repeat right;
  background-size: 10px 8px;
  background-color: inherit;
}

.purple {
  background: BlueViolet;
}

.blue {
  background: RoyalBlue;
}

.green {
  background: MediumSeaGreen;
}

.yellow {
  background: GoldenRod;
}

.orange {
  background: OrangeRed;
}

.red {
  background: Firebrick;
}

.count {
  font-size: 18px;
}

.top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.top-text {
  flex 1 1 auto;
}

.middle {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.bottom {
  flex: 1 1 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 0;
}

.bottom2 {
  flex: 1 1 0;
  width: 100%;
}

.tablewrapper {
  flex: 1 1 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  min-height: 0;
}

#title {
  font-size: 35px;
}

#mode {
  height: 25px;
  width: 100px;
  position: absolute;
  right: 1vw;
}

#networks {
  font-size: 25px;
}

#counts {
  flex: 1 1 auto;
}

#tablehead1 {
  min-height: 100%;
  flex: 0 0 auto;
}

#tablehead2 {
  height: 100%;
  flex: 1 1 0;
  overflow-x: scroll;
  margin: 0 17 0 0;
  scrollbar-width: none;
  overflow-y: visible;
  padding-bottom: 70vh;
  margin-bottom: -70vh;
}

#head1 {
  height: 100%;
}

#head2 {
  height: 100%;
}

#tablebody1 {
  flex: 0 0 auto;
  overflow: scroll;
  padding: 0 0 0 0;
  scrollbar-width: none;
  min-height: 0;
}

#tablebody2 {
  flex: 1 1 0;
  overflow: scroll;
  padding: 0 0 0 0;
  min-height: 0;
}

#body1 {
  min-height: 0;
  margin-bottom: 17px;
}

#body2 {
  min-height: 0;
}

#tablebody1::-webkit-scrollbar {
  display: none;
}

#tablehead2::-webkit-scrollbar {
  display: none;
  height: 0px;
}
