html {
  background: dimgrey;
  color: linen;
  font-family: "Arial", Arial, sans-serif;
  font-size: 1.5vh;
  visibility: hidden;
  overflow: hidden;
}

body {
  height: calc(100% - 16px);
  width: 100%;
}

input {
  background: lightgrey;
  height: 100%;
  width: 100%;
  font-size: 0.8vw;
  padding: 1vh 1vw 1vh 1vw;
  border: 1px solid #ddd;
}

button {
  background: lightgrey;
  min-height: 100%;
  font-size: 0.6vw;
  cursor: pointer;
  flex: 0 0 5vw;
}


table, th, td {
  color: inherit;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  min-width: 4vw;
  max-width: 4vw;
  padding: 0px 5px 0px 5px;
}

th {
  font-size: 0.8vw;
  min-height: 100%;
}

td {
  font-size: 0.55vw;
  height: 6vh;
}

p {
  margin: 0 0 5 0;
}

footer {
  width: 100%
}

a:link {
  color: inherit;
}

a:visited {
  color: ivory;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#counts {
  flex: 1 1 auto;
}

.foot {
  flex: 0 0 auto;
  width: 100%;
  margin-top: 5px;
}

.fitWidth {
  width: 100%;
  margin: 5px 0px 5px 0px;
  flex: 1 1 auto;
}

.buttons {
  flex: 1 1 2.5vh;
  width: 60%;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filters {
  display: flex;
  justify-content: flex-start;
}

.selectCell{
  min-width: 5.5vw;
}

.legend {
  border: 1px;
  font-size: 1.3vh;
  text-align: center;
  flex: 0 0 5vw;
  padding-top: 0.5%;
}

.filter {
  border: none;
  font-size: 0.8vw;
  color: inherit;
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  text-align: center;
  text-align-last: center;
  font-weight: bold;
  cursor: pointer;
  background: url("/CSS/whiteArrow.png") no-repeat right;
  background-size: 0.5vw 1vh;
  background-color: inherit;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}

.floc {
  background: BlueViolet;
}

.mooring {
  background: RoyalBlue;
}

.des {
  background: RoyalBlue;
}

.WO {
  background: MediumSeaGreen;
}

.buoy {
  background: GoldenRod;
}

.status {
  background: GoldenRod;
}

.trans {
  background: OrangeRed;
}

.sensor {
  background: Firebrick;
}

#mode {
  width: 5vw;
  position: absolute;
  left: 94vw;
  min-height: 26px;
}

#title {
  font-size: 5vh;
}

#networks {
  font-size: 3vh;
}

#name {
  min-width: 5.5vw;
}

.count {
  font-size: 2vh;
}

#qcount {
  font-size: 2vh;
}

.middle {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

#tablehead1 {
  min-height: 100%;
  flex: 0 0 auto;
}

#tablehead2 {
  height: 100%;
  flex: 1 0 0;
  overflow-x: scroll;
  margin: 0 17 0 0;
  scrollbar-width: none;
}

#head1 {
  height: 100%;
}

#head2 {
  height: 100%;
}

.bottom {
  flex: 1 1 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 0;
}
.bottom2 {
  flex: 1 1 0;
  width: 100%;
}

.tablewrapper {
  flex: 1 1 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  min-height: 0;
}

#tablebody1 {
  flex: 0 0 auto;
  overflow: scroll;
  padding: 0 0 0 0;
  scrollbar-width: none;
  min-height: 0;
}

#tablebody2 {
  flex: 1 1 0;
  overflow: scroll;
  padding: 0 0 0 0;
  min-height: 0;
}

#body1 {
  min-height: 0;
  margin-bottom: 17px;
}

#body2 {
  min-height: 0;
}

#tablebody1::-webkit-scrollbar {
  display: none;
}

#tablehead2::-webkit-scrollbar {
  display: none;
  height: 0px;
}

.ProvList-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 100%;
}

.ProvList-choice {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #aaa;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: lightgrey;
}

.ProvList-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ProvList-choice > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 8px;
}

.ProvList-choice > span.placeholder {
    color: #000;
}

.ProvList-choice > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 25px;
    background: url('/js/multiple-select.png') left top no-repeat;
}

.ProvList-choice > div.open {
    background: url('/js/multiple-select.png') right top no-repeat;
}

.ProvList-drop {
    width: 100%;
    overflow: visible;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: lightgrey;
    color: #000;
    border: 1px solid #aaa;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.ProvList-drop.bottom {
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ProvList-drop.top {
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ProvList-drop ul {
    width: 100%;
    overflow: visible;
    margin: 0;
    padding: 5px 0px;
}

.ProvList-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
    font-size: 0.65vw;
}

.ProvList-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ProvList-drop ul > li.multiple {
    display: block;
    float: left;
}

.ProvList-drop ul > li.group {
    clear: both;
}

.ProvList-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: visible;
}

.ProvList-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
}

.ProvList-drop ul > li label.optgroup {
    font-weight: bold;
}

.ProvList-drop input[type="checkbox"] {
    width: 20px;
    vertical-align: middle;
    height: 10px;
}

.ProvList-drop .ProvList-no-results {
    display: none;
}