/**
 * Jeffrey Welch
 */

footer {
  position: absolute;
  bottom: 0;
  width: 100%
}

.page {
  position: relative;
  min-height: calc(100vh - 20px);
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-wrap {
  padding-bottom: 50px;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  width: 100px;
  height: 75px;
}
td {
  font-size: 80%;
}

input {
  width: 30%;
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
}

select {
  width: 125px;
  height: 26px;
  overflow: hidden;
  padding-bottom: 3px;
  border: 1px solid #aaa;
}

button {
  height: 26px;
  padding-bottom: 4px;
}

.page {
  position: relative;
  min-height: calc(100vh - 20px);
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%
}

.content-wrap {
  padding-bottom: 50px;
}

.ProvList-parent {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    height: 25px;
}

.ProvList-choice {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #aaa;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
}

.ProvList-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ProvList-choice > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 8px;
}

.ProvList-choice > span.placeholder {
    color: #000;
}

.ProvList-choice > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 25px;
    background: url('multiple-select.png') left top no-repeat;
}

.ProvList-choice > div.open {
    background: url('multiple-select.png') right top no-repeat;
}

.ProvList-drop {
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.ProvList-drop.bottom {
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ProvList-drop.top {
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ProvList-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}

.ProvList-search input {
    width: 100%;
    height: auto !important;
    min-height: 24px;
    padding: 0 20px 0 5px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px solid #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff url('multiple-select.png') no-repeat 100% -22px;
    background: url('multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.ProvList-search, .ProvList-search input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ProvList-drop ul {
    overflow: auto;
    margin: 0;
    padding: 5px 8px;
}

.ProvList-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
}

.ProvList-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ProvList-drop ul > li.multiple {
    display: block;
    float: left;
}

.ProvList-drop ul > li.group {
    clear: both;
}

.ProvList-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProvList-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
}

.ProvList-drop ul > li label.optgroup {
    font-weight: bold;
}

.ProvList-drop input[type="checkbox"] {
    vertical-align: middle;
}

.ProvList-drop .ProvList-no-results {
    display: none;
}
